* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  gap: 14px;
}

#box {
  width: 300px;
  height: 300px;
  border: 5px solid white;
  border-radius: 15px;
  background-color: red;
}

#btn {
  background-color: brown;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 7px;
  font-size: large;
}

#btn:active {
  scale: 0.95;
}
