* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100vh;
  background: #fff;
  /* color: aliceblue; */
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  font-size: 25px;
}

nav > h1 {
  position: absolute;
  font-size: 40px;
  font-weight: 300;
  top: 1px;
  left: 46%;

  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
nav a {
  color: #111;
  margin-right: 30px;
  text-decoration: none;
}

#main > h1 {
  font-size: 300px;
  padding-left: 70px;
  font-weight: 400;
}

#bottom-left {
  width: 300px;

  position: absolute;
  left: 3%;
  bottom: 20%;
}
#bottom-left h3 {
  font-size: 25px;
}

#bottom-left p {
  margin-top: 5px;
  font-size: 17px;
}

#bottom-left h4 {
  font-size: 22px;
  margin-top: 40px;
}

#bottom-bar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 30px 70px;

  left: 0;
}

#bottom-bar a {
  color: #111;
  text-decoration: none;
  font-size: 32px;
}

#main > img {
  /* height: 270px; */
  position: absolute;
}

#first {
  top: 73%;
  height: 170px;
  left: 50%;
}

#second {
  top: 45%;
  height: 340px;
  left: 65%;
}
#third {
  height: 200px;
  top: 50%;
  left: 35%;
}
